.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 80px 270px 20px; /* Учитывает место для навигации и бокового меню */
}

.sidebar + .product-list {
  margin-left: 250px; /* Учитывает ширину бокового меню */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
  color: #333;
}

* {
  box-sizing: border-box;
}
button:focus{
  outline: none;
  border: none;
}

h2, p, button {
  margin: 0;
  padding: 0;
}
